.Structure{
    margin:auto !important;
    align-self: center !important;
    align-items: center !important;
    text-align: center !important;

}
.oopn{
    margin: auto !important;
    text-align: center;
}
.collection-item{
    text-align: left;
}
.title{
    font-style: italic;
    font-weight: 600;
    font-size: 22px !important;
}
.bandho{
    width:90%;
    margin:auto;
}
.firstOn{
    margin:0 50px;
}
.yel{
    color:rgb(12, 126, 116);
    font-size: 30px !important;
}
.del{
    color:red;
    font-size: 30px;
}